$heading
  position: relative
  margin: 0
  padding: 0
  color: $color-heading
  font-size: 5.7em
  text-align: center
  font-weight: bold
  text-transform: uppercase
  padding-top: 3em

  &:before
    content: ''
    position: absolute
    display: block
    width: 801px
    height: 356px
    left: 50%
    margin-top: -150px
    margin-left: -(@width / 2)
    background: bg('img/bg-heading.png') no-repeat
    background-size: 100% auto
    z-index: 10
    opacity: .7
    
  &:after
    content: ''
    position: absolute
    display: block
    width: 100px
    height: 2px
    left: 50%
    margin-top: .2em
    background: $color-action
    margin-left: -(@width / 2)
