// -- Header  
.header
  position: relative
  height: 100%
  overflow: hidden
  background-image: bg('img/bg-floripa.jpg')
  background-position: center center
  
  @media phone
    font-size: 90%
  
  &:after
    content: ''
    position: absolute
    bottom: 0
    display: block
    width: 100%
    height: 50px
    background: bg('img/header-texture.png') center bottom no-repeat
    z-index: 20
    
  &:before
    content: ''
    position: absolute
    bottom: 0
    top: 0
    left: 0
    right: 0
    display: block
    opacity: .15
    background: bg('img/texture.jpg') center bottom no-repeat
    background-size: cover
    z-index: 10
    
  @media phone
    &:before
      display: none
  
#header-video
  position: absolute
  top: 0
  left: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  
  @media phone
    display: none

.header-content
  text-align: center
  z-index: 9999
  vertical-center()
  
  @media phone
    position: static
    transform: none
  
.header-logo
  margin: -2em 0 0 0
  padding: 0
  width: 24em
  height: 18em
  background: bg('svg/logo-fif-2015.svg') center center no-repeat
  background-size: 70%
  text-indent: -9999em
  
  @media phone
    width: 100%
    height: 14em
    margin-top: 2em
    background-size: 65%

.header-metadata
  margin: 0 auto
  padding: 0
  display: block
  text-align: center
  font-size: 4em
  font-weight: 900
  color: #fff
  line-height: 1.6em
  text-transform: uppercase
  
  @media phone
    font-size: 2.5em
    
.button-buy
  display: inline-block
  background: $color-action
  color: #fff
  text-decoration: none
  padding: .8em 2em
  font-size: 2em
  font-weight: bold
  text-transform: uppercase
  border-radius: 2em
  margin-top: 1.6em
  z-index: 200
  transition: background .5s ease
  outline: 0
  
  &.off, &.off:hover
    cursor: default
    background: #999
  
  &:hover
    background: lighten(@background, 20%)

  @media phone
    font-size: 1.8em


// -- Section: Features
.section-features
  @extends $section
  
.features-wrapper
  padding-top: 20em
  padding-bottom: 10em
  @extends $container
  
  @media phone
    padding-top: 5em
  
.feature-item
  @extends $grider-4
  text-align: center
  padding: 0 2em
    
  @media phone
    @extends $grider-phone-12
  
.feature-title
  font-size: 2em
  display: block
  color: #555
  font-weight: 800
  text-transform: uppercase
  margin-bottom: .6em

  &:before
    font-size: 5em
    display: block
    margin: 0 auto .2em
    line-height: 1
    color: $color-action
    
.feature-description
  font-size: 1.4em
  line-height: 1.6em
  color: #999
  margin: 0
  font-weight: 400
  
.feature-notes
  padding-top: 1em
  padding-bottom: 20em
  
  p
    font-size: 2.5em
    font-weight: 400
    color: #888
    max-width: 55%
    margin: 0 auto
    text-align: center
    line-height: 1.8em
    
    @media phone
      max-width: 80%
      font-size: 2em
    
    a
      color: $color-action
      
      &:hover
        color: lighten(@color, 10%)

// -- Section: Speakers
.section-speakers
  @extends $section
  padding-top: 0
  height: 100em
  background-image: bg('img/bg-speakers.jpg')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  min-height: 1264px
  
  .section-title
    padding-top: 1em
  
.speakers-list
  @extends $container
  margin-top: 8em
  
.speaker-item
  @extends $grider-6
  min-height: 20em
  padding-left: 14em
  position: relative
  z-index: 100
  overflow: visible
  
  @media phone
    min-height: 12em
    padding-left: 8em
    @extends $grider-phone-12
    
.speaker-avatar
  position: absolute
  left: 0
  top: 0
  max-width: 14em
  border-radius: 20px 0 0 20px
  
  @media phone 
    max-width: 8em
  
.speaker-name
  margin: 0
  background: #353535
  color: #fff
  display: inline-block
  font-size: 3em
  font-weight: 100
  text-transform: uppercase
  padding: .1em .3em
  
  @media phone 
    font-size: 1.6em
    
.speaker-talk
  margin: 0
  background: $color-action
  color: #fff
  display: inline-block
  font-size: 1.3em
  width: 90%
  font-weight: 400
  padding: .5em .8em
  border-radius: 0 .4em .4em 0
  
.speaker-bio
  margin: 0
  font-size: 1.1em
  font-weight: 300
  color: #fff
  line-height: 1.6em
  max-width: 85%
  padding: .7em 1.1em 0
  background: rgba(#333, .5)
  
  @media phone
    display: none
    
.speaker-icon-wrapper
  max-width: 85%
  padding: 0 0 .5em .5em
  background: rgba(#333, .5)
  border-radius: 0 0 .8em 0
  text-align: left
  z-index: 200
  
  @media phone
    background: none
    margin-top: .5em
    
.speaker-icon
  color: $color-action
  font-size: 2.6em
  display: inline-block
  text-decoration: none
  
  &:hover
    color: lighten(@color, 20%)
    
.speakers-c4p
  text-align: center
  
  @media phone
    font-size: .8em
  
.button-c4p
  text-transform: none

// -- Section: Schedule
.section-schedule
  @extends $section
  padding-top: 0
  padding-bottom: 20em
    
.schedule-wrapper
  @extends $container
  padding-top: 15em
  
  @media phone
    padding-top: 5em
  
.schedule-list
  padding: 1em 0
  margin: 3em 16em
  list-style: none
  border-left: 3px dotted #ddd
  
  @media phone
    margin: 3em 0 3em 4em
    
.schedule-alert
  font-size: 1.4em
  color: #bbb
  width: 72%
  text-align: center
  font-weight: 400
  line-height: 1.8em
  font-style: italic
  
  @media phone
    width: 80%
    margin: 0 auto
  
.schedule-item
  position: relative
  padding: .1em 0 0 5em
  margin-bottom: 5em
  min-height: 7em
  
.schedule-item-type
  position: absolute
  left: -3.4em
  top: .4em
  width: 6em
  height: @width
  background-image: bg('img/texture-schedule.png')
  background-repeat: no-repeat
  background-position: center center
  background-size: 100%
  padding: 1em
  text-align: center
  
  span
    color: #fff
    font-size: 3em
    margin: 0
  
.schedule-item-hour
  position: absolute
  left: -5.8em
  top: .6em
  text-align: right
  font-size: 3em
  font-weight: 800
  color: $color-action
  margin: 0
  line-height: 1
  width: 4em
  
  @media phone
    position: static
    display: inline-block
    text-align: left
    margin-top: .5em
  
.schedule-item-box
  display: block
  
.schedule-item-title
  font-size: 2.4em
  line-height: 1
  margin: .84em 0 0
  font-weight: 700
  color: #555
  
  @media phone
    margin-top: .3em
    line-height: 1.4em
  
.schedule-item-speaker
  line-height: 1
  font-size: 1.5em
  margin: .7em 0 0 .1em
  color: $color-action
  text-transform: uppercase
  
.schedule-item-description
  color: #888
  font-size: 1.3em
  line-height: 1.8em
  margin: .5em 0 0 .25em
  width: 90%

// -- Section: Local
.section-local
  @extends $section
  padding-top: 0
  background-image: bg('img/bg-local.jpg')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  height: 599px
  
.local-wrapper
  @extends $container
  
.local-content
  max-width: 40em
  padding: 10em 0 0 10em
  
  @media phone
    padding: 15em 0 0 0
    text-align: center

.local-title,
.local-description,
.local-link
  display: inline-block
  color: #fff
  font-weight: 300
  margin: 0
  
.local-title
  background: $color-action
  font-size: 3em
  padding: .1em .4em
  text-transform: uppercase
  
.local-description
  font-size: 1.5em
  background: rgba(#444, .8)
  padding: .5em 1em
  
.local-link
  font-size: 1.5em
  background: $color-action
  padding: .5em 1em
  text-decoration: underline
  
  &:hover
    background: lighten(@background, 20%)

// -- Section: Tickets
.section-tickets
  @extends $section
  padding-top: 0
  position: relative
  
  &:after
    content: ''
    position: absolute
    bottom: 0
    display: block
    width: 100%
    height: 50px
    background: bg('img/footer-texture.png') center bottom no-repeat
    z-index: 20
  
  .section-title
    padding-top: 2em

.ticket-wrapper
  max-width: 800px
  margin: 15em auto
  text-align: center
  padding: 0 1em
  
  @media phone
    margin-top: 8em

.ticket-item
  display: block
  background: $color-heading
  height: 20em
  position: relative
  max-width: 50em
  margin: 2em auto
  
  @media phone 
    max-width: 90%
    background: none
  
  &:before, &:after
    content: ''
    background: #ededed
    border-radius: 50%
    display: block
    width: 50px
    height: 70px
    top: 50%
    margin-top: -(@height / 2)
    position: absolute
    
    @media phone
      display: none
    
  &:before
    left: -30px
  
  &:after
    right: -30px

.ticket-item-content
  position: absolute
  left: 10%
  right: @left
  top: 30px
  bottom: @top
  border-radius: 1em
  border: 2px solid #ededed
  
  @media phone 
    border: 2px solid #333
  
.ticket-item-lote
  background: $color-heading
  color: #fff
  font-size: 1.6em
  display: inline-block
  width: 6em
  padding: .1em 0
  position: absolute
  top: -13px
  left: 50%
  margin-left: -(@width / 2)
  font-weight: 300
  text-transform: uppercase
  border-radius: 5px
  
  @media phone
    background: #ededed
    color: #333

.ticket-item-value
  color: #fff
  font-size: 5em
  font-weight: bold
  display: block
  padding-top: .75em
  
  @media phone 
    padding-top: 1.6em
    font-size: 3em
    color: #333
  
.button-buy-ticket
  font-size: 2.5em

.ticket-soldout
  font-size: 4em
  padding: 2em 0 0
  font-weight: bold
  color: #bbb
  
.tickets-more
  font-size: 1.6em
  color: #bbb
  margin: 5em 0 0
  line-height: 1.6em

// -- Section: Sponsors
.section-sponsors
  @extends $section
  padding-top: 0
  background: #fff
  
.sponsors-wrapper
  @extends $container
  padding-top: 10em
  padding-bottom: 10em
  text-align: center

.sponsor-item,
.support-item
  display: inline-block
  margin: 2em
  
  img
    max-width: 100%

.sponsor-item
  width: 23em
  
.sponsor-logo
  max-width: 100%

.support-item
  width: 14em

// -- Footer: Organization
.footer-organization
  padding-top: 8em
  padding-bottom: 1em
  background: #333
  position: relative

  &:after
    content: ''
    position: absolute
    top: 0
    display: block
    width: 100%
    height: 50px
    background: bg('img/footer-texture.png') center bottom no-repeat
    z-index: 20
    transform: rotate(180deg)

.organization-wrapper
  @extends $container
  padding-top: 7em
  padding-bottom: 0
  
.organizer-item
  @extends $grider-4
  padding-left: 9em
  position: relative
  min-height: 15em
  
  @media phone
    @extends $grider-phone-12
    min-height: 12em

.organizer-photo
  position: absolute
  left: 0
  width: 8em
  height: 8em
  overflow: hidden
  border-radius: 1em 0 0 1em
  
  img
    max-width: 100%
    
.organizer-name
  margin: 0
  padding: .5em 0 .1em
  font-size: 2.4em
  color: #fff

.organizer-mail
  margin: 0
  font-size: 1.3em
  color: #ccc
  font-weight: 300

.organizer-mail-frontinfloripa
  font-size: 2em
  text-align: center
  color: $color-action
  font-weight: bold
  
  @media phone
    font-size: 1.4em
