.section-title
  @extends $heading

.section-title--bg
  @extends $heading
  padding-top: .3em
  
  &:before, &:after
    display: none
    
  span
    background: #434343
    color: #eee
    display: inline-block
    padding: 0em .4em
