*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 880px) {
}
@media (min-width: 581px) and (max-width: 880px) {
}
@media (max-width: 580px) {
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 62.5%;
  background: #eee;
  font-family: 'Arial', helvetica, sans-serif;
}
header {
  position: relative;
  height: 100%;
  overflow: hidden;
}
header:after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  background: url("../img/tint.png") center bottom no-repeat;
}
header:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
  background: url("../img/texture.jpg") center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -20;
}
#header-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.header-content {
  padding-top: 5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1000;
}
.header-logo {
  margin: 0;
  padding: 0;
}
.header-logo img {
  display: inline-block;
  text-align: center;
  max-width: 16em;
}
.date {
  margin: -1.4em auto 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  width: 475px;
  height: 100px;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 2.9em;
  text-transform: uppercase;
}
.button-buy {
  display: inline-block;
  background: #36d49c;
  color: #fff;
  text-decoration: none;
  padding: 0.8em 2em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  margin-top: 1.6em;
  z-index: 200;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.button-buy:hover {
  background: #26af7e;
}
