// -- Create webfonts

webfont('Montserrat', 'montserrat-ultralight-webfont', 100);
webfont('Montserrat', 'montserrat-light-webfont', 300);
webfont('Montserrat', 'montserrat-regular-webfont', 400);
webfont('Montserrat', 'montserrat-extrabold-webfont', bold);
webfont('Montserrat', 'montserrat-black-webfont', 900);
