@font-face
  font-family: 'fif-icons'
  src: url($path-font + 'fif-icons.eot?66585848')
  src: url($path-font + 'fif-icons.eot?66585848#iefix') format('embedded-opentype'),
       url($path-font + 'fif-icons.woff?66585848') format('woff'),
       url($path-font + 'fif-icons.ttf?66585848') format('truetype'),
       url($path-font + 'fif-icons.svg?66585848#fif-icons') format('svg')
  font-weight: normal
  font-style: normal
 
[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: 'fif-icons'
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 1em
  margin-left: .2em
 
.icon-link-ext-alt:before
  content: '\e800'
.icon-heart:before
  content: '\e801'
.icon-thumbs-up-alt:before
  content: '\e802'
.icon-cancel:before
  content: '\e803'
.icon-ok:before
  content: '\e804'
.icon-ticket:before
  content: '\e805'
.icon-twitter-circled:before
  content: '\e806'
.icon-facebook-circled:before
  content: '\e807'
.icon-github-circled:before
  content: '\e808'
.icon-t-shirt:before
  content: '\e809'
.icon-clock:before
  content: '\e80a'
.icon-ticket-1:before
  content: '\e80b'
.icon-menu:before
  content: '\e80c'
.icon-angle-right:before
  content: '\e80d'
.icon-angle-left:before
  content: '\e80e'
.icon-mic:before
  content: '\e80f'
.icon-mic-1:before
  content: '\e810'
.icon-direction:before
  content: '\e811'
.icon-location:before
  content: '\e812'
.icon-location-1:before
  content: '\e813'
.icon-map:before
  content: '\e814'
.icon-location-3:before
  content: '\e815'
.icon-map-1:before
  content: '\e816'
.icon-star:before
  content: '\e817'
.icon-flag:before
  content: '\e818'
.icon-megaphone:before
  content: '\e819'
.icon-heart-1:before
  content: '\e81a'
.icon-megaphone-1:before
  content: '\e81b'
.icon-lock:before
  content: '\e81c'
.icon-link:before
  content: '\e81d'
.icon-plus-circled:before
  content: '\e81e'
.icon-calendar:before
  content: '\e81f'
.icon-list:before
  content: '\e820'
.icon-menu-1:before
  content: '\e821'
.icon-list-alt:before
  content: '\e822'
.icon-list-1:before
  content: '\e823'
.icon-clipboard:before
  content: '\e824'
.icon-mail-alt:before
  content: '\e825'
.icon-users:before
  content: '\e826'
.icon-users-1:before
  content: '\e827'
.icon-group:before
  content: '\e828'
.icon-briefcase:before
  content: '\e829'
.icon-briefcase-1:before
  content: '\e82a'
.icon-network:before
  content: '\e82b'
.icon-comment:before
  content: '\e82c'
.icon-chat:before
  content: '\e82d'
.icon-book:before
  content: '\e82e'
.icon-gift:before
  content: '\e82f'
.icon-book-1:before
  content: '\e830'
.icon-beer:before
  content: '\e831'
.icon-emo-beer:before
  content: '\e832'
.icon-w3c:before
  content: '\e833'
.icon-food:before
  content: '\e834'
.icon-food-1:before
  content: '\e835'
.icon-coffee:before
  content: '\e836'
.icon-tag:before
  content: '\e837'
