// -- Colors
$color-action = #26af7e;

// -- Fonts
$font-default = 'Montserrat', Arial, helvetica, sans-serif

// -- Paths
$path-img   = '../img/';
$path-svg   = '../svg/';
$path-font  = '../fonts/';
