vertical-center()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

bg()
  return url('../' + arguments)

webfont($font-family, $font-name, $font-weight = 'normal')
  @font-face
    font-family: $font-family
    src: url($path-font + $font-name + '.eot')
    src: url($path-font + $font-name + '.eot?#iefix') format('embedded-opentype'),
         url($path-font + $font-name + '.woff2') format('woff2'),
         url($path-font + $font-name + '.woff') format('woff'),
         url($path-font + $font-name + '.ttf') format('truetype'),
         url($path-font + $font-name + '.svg#' + $font-name) format('svg')
    font-weight: $font-weight
    font-style: normal
